
H1 {

    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif



}

div {
    padding: 20px 0px 20px 10px;
    margin-bottom: 10px;
    border: 1px solid black;
   
}

body {

    background: linear-gradient(pink, teal);

}
    